@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");

.wrapper {
  color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.main {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.animate__animated .animate__fadeOut,
.animate__animated .animate__fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

//mobile
@media only screen and (min-width: 0px) and (max-width: 600px) {
}
//tablet
@media only screen and (min-width: 600px) and (max-width: 1200px) {
}
//desktop
@media only screen and (min-width: 1201px) {
}
