@media only screen and (min-width: 1201px) {
  .main {
    color: white;
    .m-title {
      display: none;
    }
    .img-wrapper {
      display: none;
    }

    .background-line {
      position: absolute;
      left: 100px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: 0.2;
      height: 100vh;
      width: 80vw;
      z-index: -5;
    }
    .text-wrapper {
      width: 80%;
      font-size: 1.2rem;
      margin-top: 2rem;
      text-align: center;
      width: 80%;
      font-family: "Open Sans", sans-serif;
      background: linear-gradient(342deg, #d19458, #8b1c7e);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .btn {
      text-transform: uppercase;
      word-spacing: 2.5px;
      position: relative;
      cursor: pointer;
      padding: 1rem;
      background: linear-gradient(342deg, #d19458, #8b1c7e);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 2px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(342deg, #d19458, #8b1c7e);
      text-decoration: none;
      font-weight: bold;
      margin: 2rem auto;
      transition: all 0.2s ease-in-out;
    }
    .btn:hover {
      -webkit-background-clip: none;
      background-clip: none;
      -webkit-text-fill-color: unset;
      background: none;
      color: white;
    }
    .btn {
      position: relative;
      transition: all 0.2s;
    }
    .btn:before {
      background: linear-gradient(342deg, #d19458, #8b1c7e);
      display: inline-flex;
      content: "";
      width: 100%;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      transition: all 0.1s ease-in-out;
    }
    .btn:hover:before {
      opacity: 1;
    }
  }

  .m-container {
    margin: 2rem auto;
    width: 50rem;
  }

  .loader-wrapper {
    pointer-events: none;
    display: none;
    opacity: 0;
    z-index: 5;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.609);
    #loading {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      .block-wrapper {
        width: 140px;
        height: 150px;
      }
      .block {
        position: relative;
        box-sizing: border-box;
        float: left;
        margin: 9px 15px 10px 0;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        background-image: linear-gradient(
          120deg,
          #8b1c7e,
          #8b1c7e,
          #e68d52,
          #e68d52
        );
        background-size: 200% 200%;
        background-attachment: fixed;
      }

      .block:nth-child(4n + 1) {
        -webkit-animation: wave 2s ease 0s infinite,
          gradient 1.7s ease 0s infinite;
        animation: wave 2s ease 0s infinite, gradient 1.7s ease 0s infinite;
      }
      .block:nth-child(4n + 2) {
        -webkit-animation: wave 2s ease 0.2s infinite,
          gradient 1.7s ease 0.2s infinite;
        animation: wave 2s ease 0.2s infinite, gradient 1.7s ease 0.2s infinite;
      }
      .block:nth-child(4n + 3) {
        -webkit-animation: wave 2s ease 0.4s infinite,
          gradient 1.7s ease 0.4s infinite;
        animation: wave 2s ease 0.4s infinite, gradient 1.7s ease 0.4s infinite;
      }
      .block:nth-child(4n + 4) {
        -webkit-animation: wave 2s ease 0.6s infinite,
          gradient 1.7s ease 0.6s infinite;
        animation: wave 2s ease 0.6s infinite, gradient 1.7s ease 0.6s infinite;
        margin-right: 0;
      }

      .loading-text {
        font-size: 1.2rem;
        width: 14rem;
        height: 3rem;
        position: absolute;
        top: 200px;
        left: -13px;
        font-weight: bold;
        background-size: 200% 200%;
        -webkit-animation: text-gradient 5.5s linear 1s infinite;
        animation: text-gradient 5.5s linear 1s infinite;
        background-image: linear-gradient(
          to right,
          #d19458,
          #d19458,
          #8b1c7e,
          #8b1c7e,
          #8b1c7e,
          #d19458,
          #d19458
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
@-webkit-keyframes text-gradient {
  0% {
    background-position: 0vw 0;
  }
  100% {
    background-position: 70vw 0;
  }
}
@keyframes text-gradient {
  0% {
    background-position: 0vw 0;
  }
  100% {
    background-position: 70vw 0;
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes wave {
  0% {
    top: 0;
  }
  50% {
    top: 30px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: 30px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
