@import "reset";
@import "global";
@import "graph";
@import "home";
@import "login";
@import "navigation";
@import "mobile";
@import "tablet";

body {
  overflow-x: hidden !important;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: rgb(49, 49, 49);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  overflow-x: hidden !important;
  overflow-y: hidden;
}
