// mobile
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .modal {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: none;
    .modal-content {
      position: relative;
      background: rgb(77, 77, 77);
      width: 20rem;
      height: 28rem;
      opacity: 0;
      margin: auto;
      top: 5rem;
      .form-switch {
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        margin-left: 2.2rem;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        bottom: 2%;
        left: 10%;
      }
      .form-switch .active {
        z-index: -1;
        position: absolute;
        top: 10px;
        left: -10px;
        width: 6rem;
        height: 3rem;
        background: linear-gradient(342deg, #d19458, #8b1c7e);
        &.slide {
          transition: margin 0.2s ease-in-out;
          margin-left: 105px;
        }
        &.slide-back {
          transition: margin 0.2s ease-in-out;
          margin-left: 0;
        }
      }

      .form-switch .login {
        margin: 1rem 1rem 1rem -1rem;
        padding: 10px;
        cursor: pointer;
        margin-left: 0rem;
      }

      .form-switch .signup {
        margin: 1rem 0.3rem;
        padding: 10px;
        cursor: pointer;
      }

      h2 {
        width: 9rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        top: 2rem;
        margin: 0 auto;
        background: linear-gradient(342deg, #d19458, #8b1c7e);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 2rem;
      }
      form {
        position: relative;
        top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
          text-align: center;
          font-size: 1rem;
        }
        input {
          font-family: "Open Sans", sans-serif;
          color: white;
          margin: 5px auto;
          height: 2rem;
          width: 75%;
          border: none;
          background: rgb(49, 49, 49);
          align-self: center;
          margin-bottom: 1rem;
        }
        .name-wrapper {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          label {
            margin: 0 4px 0 4px;
            width: 36.2%;
            display: flex;
            flex-direction: column;
            input {
              width: 100%;
            }
          }
        }
        .submitBtn {
          align-self: center;
          z-index: 1;
          margin-top: 0.5rem;
        }
        .submitBtn label {
          text-transform: uppercase;
          cursor: pointer;
        }
        .submitBtn a {
          text-align: center;
          padding: 8px;
          line-height: 25px;
          cursor: pointer;
          border: 2px solid;
          border-image-slice: 1;
          border-image-source: linear-gradient(342deg, #d19458, #8b1c7e);
          position: relative;
          z-index: 10;
          color: white;
          transition: all 0.2s;
        }

        .submitBtn a:before {
          background: linear-gradient(342deg, #d19458, #8b1c7e);
          display: inline-flex;
          content: "";
          width: 4.5rem !important;
          height: 2.4rem !important;
          position: absolute;
          top: -2px;
          left: 0;
          opacity: 0;
          z-index: -1;
          transition: all 0.1s ease-in-out;
        }
        .submitBtn .signup:before {
          background: linear-gradient(342deg, #d19458, #8b1c7e);
          display: inline-flex;
          content: "";
          width: 100% !important;
          height: 2.5rem !important;
          position: absolute;
          top: -2px;
          left: 0;
          opacity: 0;
          z-index: -1;
          transition: all 0.1s ease-in-out;
        }
        .submitBtn:hover a:before {
          opacity: 1;
        }
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        color: #ffffff;
        font-size: 40px;
        font-weight: bold;
        padding: 0 14px;
        transition: all 0.2s;
        z-index: 1000;
      }

      .close:hover,
      .close:focus {
        color: rgb(168, 168, 168);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

// tablet
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .modal {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: none;
    .modal-content {
      position: relative;
      background: rgb(77, 77, 77);
      width: 20rem;
      height: 28rem;
      opacity: 0;
      margin: auto;
      top: 5rem;
      .form-switch {
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        margin-left: 2.2rem;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        bottom: 2%;
        left: 10%;
      }
      .form-switch .active {
        z-index: -1;
        position: absolute;
        top: 10px;
        left: -10px;
        width: 6rem;
        height: 3rem;
        background: linear-gradient(342deg, #d19458, #8b1c7e);
        &.slide {
          transition: margin 0.2s ease-in-out;
          margin-left: 105px;
        }
        &.slide-back {
          transition: margin 0.2s ease-in-out;
          margin-left: 0;
        }
      }

      .form-switch .login {
        margin: 1rem 1rem 1rem -1rem;
        padding: 10px;
        cursor: pointer;
        margin-left: 0rem;
      }

      .form-switch .signup {
        margin: 1rem 0.3rem;
        padding: 10px;
        cursor: pointer;
      }

      h2 {
        width: 9rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        top: 2rem;
        margin: 0 auto;
        background: linear-gradient(342deg, #d19458, #8b1c7e);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 2rem;
      }
      form {
        position: relative;
        top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
          text-align: center;
          font-size: 1rem;
        }
        input {
          font-family: "Open Sans", sans-serif;
          color: white;
          margin: 5px auto;
          height: 2rem;
          width: 75%;
          border: none;
          background: rgb(49, 49, 49);
          align-self: center;
          margin-bottom: 1rem;
        }
        .name-wrapper {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          label {
            margin: 0 4px 0 4px;
            width: 36.2%;
            display: flex;
            flex-direction: column;
            input {
              width: 100%;
            }
          }
        }
        .submitBtn {
          align-self: center;
          z-index: 1;
          margin-top: 0.5rem;
        }
        .submitBtn label {
          text-transform: uppercase;
          cursor: pointer;
        }
        .submitBtn a {
          text-align: center;
          padding: 8px;
          line-height: 25px;
          cursor: pointer;
          border: 2px solid;
          border-image-slice: 1;
          border-image-source: linear-gradient(342deg, #d19458, #8b1c7e);
          position: relative;
          z-index: 10;
          color: white;
          transition: all 0.2s;
        }

        .submitBtn a:before {
          background: linear-gradient(342deg, #d19458, #8b1c7e);
          display: inline-flex;
          content: "";
          width: 4.5rem !important;
          height: 2.4rem !important;
          position: absolute;
          top: -2px;
          left: 0;
          opacity: 0;
          z-index: -1;
          transition: all 0.1s ease-in-out;
        }
        .submitBtn .signup:before {
          background: linear-gradient(342deg, #d19458, #8b1c7e);
          display: inline-flex;
          content: "";
          width: 100% !important;
          height: 2.5rem !important;
          position: absolute;
          top: -2px;
          left: 0;
          opacity: 0;
          z-index: -1;
          transition: all 0.1s ease-in-out;
        }
        .submitBtn:hover a:before {
          opacity: 1;
        }
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        color: #ffffff;
        font-size: 40px;
        font-weight: bold;
        padding: 0 14px;
        transition: all 0.2s;
        z-index: 1000;
      }

      .close:hover,
      .close:focus {
        color: rgb(168, 168, 168);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

// desktop
@media only screen and (min-width: 1201px) {
  .modal {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: none;
    .modal-content {
      position: relative;
      background: rgb(77, 77, 77);
      width: 24rem;
      height: 28rem;
      margin: auto;
      padding-top: 1rem;
      top: 15vh;
      box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.52);
      .form-switch {
        color: rgb(200, 200, 200);
        display: flex;
        justify-content: center;
        margin-left: 2.3rem;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        bottom: 2%;
        left: 19%;
      }
      .form-switch .active {
        z-index: -1;
        position: absolute;
        top: 10px;
        left: -12px;
        width: 6rem;
        height: 3rem;
        background: linear-gradient(342deg, #d19458, #8b1c7e);
        &.slide {
          transition: margin 0.2s ease-in-out;
          margin-left: 94px;
        }
        &.slide-back {
          transition: margin 0.2s ease-in-out;
          margin-left: 0;
        }
        &.load {
          transition: margin 0.2s ease-in-out;
          margin-left: 0;
        }
      }

      .form-switch .login {
        -webkit-font-smoothing: antialiased;
        border-radius: 10px;
        margin: 1rem 1rem 1rem 0;
        padding: 10px;
        cursor: pointer;
        margin-left: 0rem;
        transition: 0.3s all ease-in-out;
        &:hover {
          color: rgb(255, 255, 255);
        }
      }
      .form-switch .login:hover ~ .active.slide {
        transition: margin 0.3s ease-in-out;
        margin-left: 0;
      }

      .form-switch .signup {
        border-radius: 10px;
        margin: 1rem 0;
        padding: 10px;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
        &:hover {
          color: rgb(255, 255, 255);
        }
      }
      .form-switch .signup:hover ~ .active.load {
        transition: margin 0.3s ease-in-out;
        margin-left: 94px;
      }
      .form-switch .signup:hover ~ .active.slide-back {
        transition: margin 0.3s ease-in-out;
        margin-left: 94px;
      }

      h2 {
        text-align: center;
        text-transform: uppercase;
        margin: 2rem auto;
        background: linear-gradient(342deg, #d19458, #8b1c7e);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
        font-size: 2rem;
        width: 10rem;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
          text-align: center;
          font-size: 0.9rem;
        }
        input {
          font-family: "Open Sans", sans-serif;
          margin: 5px auto;
          height: 2rem;
          width: 60%;
          border: none;
          background: rgb(49, 49, 49);
          align-self: center;
          margin-bottom: 1rem;
          color: rgb(136, 136, 136);
          font-weight: 600;
          padding-left: 5px;
        }
        .name-wrapper {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          label {
            margin: 0 4px 0 4px;
            width: 29.1%;
            display: flex;
            flex-direction: column;
            input {
              width: 100%;
            }
          }
        }

        .submitBtn {
          font-weight: bold;
          width: 7rem;
          text-transform: uppercase;
          font-size: 0.9rem;
          align-self: center;
          z-index: 1;
          background: transparent;
          text-align: center;
          padding: 8px;
          line-height: 25px;
          cursor: pointer;
          border: 2px solid;
          border-image-slice: 1;
          border-image-source: linear-gradient(342deg, #d19458, #8b1c7e);
          position: relative;
          z-index: 10;
          color: white;
          transition: all 0.2s;
        }

        .submitBtn:before {
          background: linear-gradient(342deg, #d19458, #8b1c7e);
          display: inline-flex;
          content: "";
          width: 100%;
          height: calc(100% + 2px);
          position: absolute;
          top: -2px;
          left: 0;
          opacity: 0;
          z-index: -1;
          transition: all 0.1s ease-in-out;
        }
        .submitBtn:hover:before {
          opacity: 1;
        }
      }

      .close {
        position: absolute;
        color: #ffffff;
        top: 0;
        right: 0;
        font-size: 40px;
        font-weight: bold;
        padding: 5px 12px;
        transition: all 0.2s;
        z-index: 1000;
      }

      .close:hover,
      .close:focus {
        color: rgb(168, 168, 168);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
