@media only screen and (min-width: 0px) and (max-width: 600px) {
  body,
  html {
    overflow-y: auto !important;
  }
  .navbar {
    z-index: 999;
    font-family: "Montserrat", sans-serif !important;
    text-transform: uppercase;
    background: #2e2d2d;
    flex-direction: column;
    text-align: center;
    padding: 0.9rem 0 0.5rem 0;
    position: fixed;
    top: 0;
    width: 100vw;
    margin-top: -1px;
    img {
      display: none;
    }
    .menu {
      margin-top: 1.8rem;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .links {
        display: none;
      }
      .mobile-links {
        p {
          margin: 0.9rem auto;
        }
        .first {
          display: flex;
          flex-direction: column;
          p {
            margin: 0.2rem auto;
          }
        }
      }
    }
    .collapsed {
      display: none;
    }
    .img-wrapper {
      display: none;
    }
    .mobile-top-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .mobile-top-nav .mobile-nav {
      margin-left: auto;
      width: 2.2rem;
      height: 2rem;
      background: transparent;
      border: none;
      margin-right: 1.5rem;
    }
    .mobile-top-nav .mobile-nav .icon-bar {
      width: 1.5rem;
      height: 3px;
      margin: 5px auto;
      border-radius: 1px;
      background-color: #f7f7f7;
    }

    a {
      color: #ffffff;
      text-decoration: none;
      line-height: 2rem;
      font-size: 1rem;
    }
    nav ul {
      margin-top: 0.9rem;
    }
    #glowbar {
      display: none;
    }
    #glowbar-mobile {
      background: linear-gradient(342deg, #d19458, #8b1c7e);
      position: relative;
      top: 0.8rem;
      width: 100%;
      height: 0.35rem;
    }
  }

  .main {
    color: white;
    .m-title {
      background: linear-gradient(to right, #8b1c7e, #d19458);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      word-spacing: 10px;
      font-family: "Exo", sans-serif;
      font-size: 1.638rem;
      width: 95px;
      text-align: center;
      margin: 7.5rem auto 0 auto;
      line-height: 2.2rem;
      font-weight: bold;
      position: relative;
      top: -122px;
    }
    .img-wrapper {
      display: flex;
      justify-content: center;
      position: relative;
      margin: 2.5rem auto 0 auto;
      img {
        z-index: 1;
        width: 80px;
        height: 80px;
        position: relative;
        top: 100px;
      }
    }
    .text-wrapper {
      text-align: center;
      width: 80%;
      font-family: "Open Sans", sans-serif;
      background: linear-gradient(342deg, #d19458, #8b1c7e);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      font-size: 0.9rem;
    }

    .btn {
      text-transform: uppercase;
      word-spacing: 2.5px;
      position: relative;
      cursor: pointer;
      padding: 1rem;
      background: linear-gradient(342deg, #d19458, #8b1c7e);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 2px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(342deg, #d19458, #8b1c7e);
      text-decoration: none;
      font-weight: bold;
      margin: 2rem auto;
      transition: all 0.2s ease-in-out;
    }
    .btn:hover {
      -webkit-background-clip: none;
      background-clip: none;
      -webkit-text-fill-color: unset;
      background: none;
      color: white;
    }
    .btn {
      position: relative;
      transition: all 0.2s;
    }
    .btn:before {
      background: linear-gradient(342deg, #d19458, #8b1c7e);
      display: inline-flex;
      content: "";
      width: 100%;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      transition: all 0.1s ease-in-out;
    }
    .btn:hover:before {
      opacity: 1;
    }
  }
  .m-container {
    width: 90vw;
    margin-bottom: 4rem;
    opacity: 0;
  }
  .loader-wrapper {
    pointer-events: none;
    display: none;
    opacity: 0;
    z-index: 5;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.876);
    #loading {
      position: absolute;
      top: 45vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      z-index: -1;
      .block-wrapper {
        width: 80px;
        height: 100px;
      }
      .block {
        position: relative;
        box-sizing: border-box;
        float: left;
        margin: 0 10px 10px 0;
        width: 12px;
        height: 12px;
        border-radius: 3px;
        background-image: linear-gradient(
          120deg,
          #8b1c7e,
          #8b1c7e,
          #e68d52,
          #e68d52
        );
        background-size: 200% 200%;
        background-attachment: fixed;
      }

      .block:nth-child(4n + 1) {
        -webkit-animation: wave 2s ease 0s infinite,
          gradient 1.7s ease 0s infinite;
        animation: wave 2s ease 0s infinite, gradient 1.7s ease 0s infinite;
      }
      .block:nth-child(4n + 2) {
        -webkit-animation: wave 2s ease 0.2s infinite,
          gradient 1.7s ease 0.2s infinite;
        animation: wave 2s ease 0.2s infinite, gradient 1.7s ease 0.2s infinite;
      }
      .block:nth-child(4n + 3) {
        -webkit-animation: wave 2s ease 0.4s infinite,
          gradient 1.7s ease 0.4s infinite;
        animation: wave 2s ease 0.4s infinite, gradient 1.7s ease 0.4s infinite;
      }
      .block:nth-child(4n + 4) {
        -webkit-animation: wave 2s ease 0.6s infinite,
          gradient 1.7s ease 0.6s infinite;
        animation: wave 2s ease 0.6s infinite, gradient 1.7s ease 0.6s infinite;
        margin-right: 0;
      }

      .loading-text {
        overflow: hidden;
        white-space: nowrap;
        opacity: 1;
        font-size: 1.3rem;
        width: 10rem;
        height: 3rem;
        position: absolute;
        top: 120px;
        left: -35px;
        font-weight: bold;
        background-size: 240% 240%;
        -webkit-animation: text-gradient 6s linear infinite;
        animation: text-gradient 6s linear infinite;
        background-image: linear-gradient(
          to right,
          #a63f70,
          #a63f70,
          #d19458,
          #d19458,
          #a63f70,
          #a63f70
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
@-webkit-keyframes text-gradient {
  0% {
    background-position: -23rem 0;
  }
  100% {
    background-position: 70rem 0;
  }
}
@keyframes text-gradient {
  0% {
    background-position: -23rem 0;
  }
  100% {
    background-position: 70rem 0;
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes wave {
  0% {
    top: 0;
  }
  50% {
    top: 30px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: 30px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
