@media only screen and (min-width: 1201px) {
  .navbar {
    width: 100vw;
    height: 3rem;
    background: rgb(39, 39, 39);
    font-family: "Orbitron", sans-serif;
    .mobile-top-nav {
      display: none;
    }
    .menu {
      display: flex;
      justify-content: space-between;
      padding-top: 0.8rem;
      margin: 0 4rem;
      a {
        text-decoration: none;
        color: white;
      }
    }
    .menu {
    }
    .menu a {
      text-transform: uppercase;
      cursor: pointer;
      margin: 0 1rem;
    }
    #glowbar-mobile {
      display: none;
    }
    #glowbar {
      background: linear-gradient(342deg, #d19458, #8b1c7e);
      position: relative;
      top: 1rem;
      width: 100vw;
      height: 0.7rem;
      box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3), 0 2px 3px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12);
    }
  }
}
