@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

.wrapper {
  color: white;
}
.main {
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
}
