@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

.wrapper {
  color: white;
}
.main {
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
}

//mobile
@media only screen and (min-width: 0px) and (max-width: 600px) {
}
//tablet
@media only screen and (min-width: 600px) and (max-width: 1200px) {
}
//desktop
@media only screen and (min-width: 1201px) {
}
