@media only screen and (min-width: 0px) and (max-width: 600px) {
}

// tablet
@media only screen and (min-width: 600px) and (max-width: 1200px) {
}
// desktop
@media only screen and (min-width: 1201px) {
  #modal {
    font-family: "Orbitron", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    .modal-content {
      position: absolute;
      background: rgb(77, 77, 77);
      width: 20vw;
      height: 60vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .signupform {
        opacity: 0;
      }
      .form-switch {
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        margin-left: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        left: 15%;
      }
      .form-switch .active {
        border-radius: 15px;
        z-index: -1;
        position: absolute;
        top: 10px;
        left: -17px;
        width: 7rem;
        height: 3rem;
        background: linear-gradient(75deg, #cc19cc, #6f20d6);
        &.slide {
          transition: margin 0.2s ease-in-out;
          margin-left: 112px;
        }
        &.slide-back {
          transition: margin 0.2s ease-in-out;
          margin-left: 0;
        }
      }

      .form-switch .login {
        border-radius: 10px;
        margin: 1rem 1rem 1rem -1rem;
        padding: 10px;
        cursor: pointer;
        margin-left: 0rem;
      }

      .form-switch .signup {
        border-radius: 10px;
        margin: 1rem 0.3rem;
        padding: 10px;
        cursor: pointer;
      }

      h2 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 2rem 0 4vh 0;
        background: linear-gradient(75deg, #cc19cc, #6f20d6);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 2rem;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      form label {
        text-align: center;
        font-size: 1rem;
      }
      form input {
        margin: 5px auto;
        height: 2rem;
        width: 50%;
        text-transform: uppercase;
        border: none;
        background: rgb(49, 49, 49);
        align-self: center;
        margin-bottom: 2rem;
      }
      form .submitBtn {
        align-self: center;
        z-index: 1;
      }
      form .submitBtn label {
        text-transform: uppercase;
        cursor: pointer;
      }
      form .submitBtn a {
        text-align: center;
        padding: 8px;
        line-height: 25px;
        cursor: pointer;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(75deg, #cc19cc, #6f20d6);
        position: relative;
        z-index: 10;
        color: white;
        transition: all 0.2s;
      }

      form .submitBtn a:before {
        background: linear-gradient(75deg, #cc19cc, #6f20d6);
        display: inline-flex;
        content: "";
        width: 4.5rem !important;
        height: 2.4rem !important;
        position: absolute;
        top: -2px;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: all 0.1s ease-in-out;
      }
      form .submitBtn .signup:before {
        background: linear-gradient(75deg, #cc19cc, #6f20d6);
        display: inline-flex;
        content: "";
        width: 100% !important;
        height: 2.5rem !important;
        position: absolute;
        top: -2px;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: all 0.1s ease-in-out;
      }
      form .submitBtn:hover a:before {
        opacity: 1;
      }

      .close {
        position: relative;
        color: #ffffff;
        float: right;
        font-size: 20px;
        font-weight: bold;
        padding: 5px 10px;
        transition: all 0.2s;
        z-index: 1000;
      }

      .close:hover,
      .close:focus {
        color: rgb(168, 168, 168);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
