@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar {
    font-family: "Montserrat", sans-serif !important;
    text-transform: uppercase;
    z-index: 1;
    background: #2e2d2d;
    flex-direction: column;
    text-align: center;
    padding: 0.9rem 0 0.5rem 0;
    position: fixed;
    top: 0;
    width: 100vw;
    margin-top: -1px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3), 0 2px 3px rgba(0, 0, 0, 0.12),
      0 4px 4px rgba(0, 0, 0, 0.12);
    .menu {
      margin-top: 1.8rem;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .first {
        display: flex;
        flex-direction: column;
      }
    }
    .collapsed {
      display: none;
    }

    .mobile-top-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .mobile-top-nav .mobile-nav {
      margin-left: auto;
      width: 2.2rem;
      height: 2rem;
      background: transparent;
      border: none;
      margin-right: 1.5rem;
    }
    .mobile-top-nav .mobile-nav .icon-bar {
      width: 1.5rem;
      height: 3px;
      margin: 5px auto;
      border-radius: 1px;
      background-color: #f7f7f7;
    }

    a {
      color: #ffffff;
      text-decoration: none;
      line-height: 2rem;
      font-size: 1rem;
    }
    nav ul {
      margin-top: 0.9rem;
    }
    #glowbar {
      display: none;
    }
    #glowbar-mobile {
      background: linear-gradient(342deg, #d19458, #8b1c7e);
      position: relative;
      top: 1rem;
      width: 100%;
      height: 0.5rem;
    }
  }

  .main {
    color: white;
    .m-title {
      background: linear-gradient(342deg, #d19458, #8b1c7e);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      word-spacing: 10px;
      font-family: "Open Sans", sans-serif;
      font-size: 1.8rem;
      width: 90vw;
      text-align: center;
      margin: 7.5rem auto 2rem auto;
      line-height: 2.2rem;
      font-weight: bold;
    }
    p {
      text-align: center;
      width: 80%;
      font-family: "Open Sans", sans-serif;
      background: linear-gradient(342deg, #d19458, #8b1c7e);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
    }
    .btn {
      text-transform: uppercase;
      word-spacing: 2.5px;
      position: relative;
      cursor: pointer;
      padding: 1rem;
      background: linear-gradient(342deg, #d19458, #8b1c7e);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 2px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(342deg, #d19458, #8b1c7e);
      text-decoration: none;
      font-weight: bold;
      margin: 2rem auto;
      transition: all 0.2s ease-in-out;
    }
    .btn:hover {
      -webkit-background-clip: none;
      background-clip: none;
      -webkit-text-fill-color: unset;
      background: none;
      color: white;
    }
    .btn {
      position: relative;
      transition: all 0.2s;
    }
    .btn:before {
      background: linear-gradient(342deg, #d19458, #8b1c7e);
      display: inline-flex;
      content: "";
      width: 272px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      transition: all 0.1s ease-in-out;
    }
    .btn:hover:before {
      opacity: 1;
    }
    table {
      opacity: 0;
      width: 90vw;
      background: rgb(37, 37, 37);
      thead {
        td {
          font-weight: bold;
          font-size: 1.2rem;
          padding: 10px;
          border: 2px solid rgb(63, 63, 63);
          line-height: unset;
          color: rgb(102, 102, 102);
          text-align: center;
        }
      }

      td {
        border: 2px solid;
        line-height: 40px;
        width: auto;
        height: 40px;
        position: relative;
        border: 2px solid rgb(63, 63, 63);
      }

      img {
        position: absolute;
        top: 5px;
        left: 10px;
        width: 30px;
        height: 30px;
        padding: 0 5px 0 0;
        -webkit-filter: saturate(0%) url(#gradient);
        filter: saturate(0%) url(#gradient);
      }

      .text {
        margin-left: 50px;
        color: white;
        font-size: 1rem;
      }
      .price {
        text-align: right;
        color: white;
        font-size: 1rem;
        margin-right: 0.5rem;
      }
    }
  }

  #loading {
    width: 60vw;
    opacity: 0;
    position: absolute;
    top: 64vh;
    left: 53.5%;
    transform: translate(-50%, -50%);
    z-index: -1;
    .circle {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      -webkit-animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
      animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
      transform-origin: bottom center;
      position: relative;
      margin: 3px;
    }
    .loading-text {
      font-size: 1.3rem;
      width: 15rem;
      position: absolute;
      top: 100px;
      left: 6vw;
      color: rgb(88, 88, 88);
      font-weight: bold;
    }
    .circle-1 {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
    .circle-2 {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    .circle-3 {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    .circle-4 {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
    .circle-5 {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
    }
    .circle-6 {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
    .circle-7 {
      -webkit-animation-delay: 0.7s;
      animation-delay: 0.7s;
    }
    .circle-8 {
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
    }
  }

  @-webkit-keyframes loading {
    0% {
      transform: translateY(0px);
      background-color: rgba(49, 49, 49, 0);
    }
    50% {
      transform: translateY(50px);
      background-color: rgb(88, 88, 88);
    }
    100% {
      transform: translateY(0px);
      background-color: rgba(49, 49, 49, 0);
    }
  }
  @keyframes loading {
    0% {
      transform: translateY(0px);
      background-color: rgba(49, 49, 49, 0);
    }
    50% {
      transform: translateY(50px);
      background-color: rgb(88, 88, 88);
    }
    100% {
      transform: translateY(0px);
      background-color: rgba(49, 49, 49, 0);
    }
  }
}
